body{
  background:purple
    strong{
color:white:
  }
h1{
  color:pink;
text-aling:center;
  span{
    border: 1px solid black;
  padding: 10x
}
}  
  strong{
  color:pink;
}
  img{
  display: blok;
    width:100%
      high: auto;
    max-width:600px;
    margin-left: auto;
    matght-right: auto;
  }
  fooder{
    text-aling: center;
    strong{
      color: red;
    }
    }
  }

strong{
  color: blue;
}
